@import url("../reportMenu/css/report.css"); /* 게시판스타일*/
*{margin:0; padding:0;}

/* Common (공통css) 
===================================================================================================================================================================*/ 
* {
 margin:0;
 padding:0;
 -webkit-box-sizing:border-box; -moz-box-sizing:border-box;  box-sizing: border-box; /*width 값 안에 padding 값 포함 */
 -webkit-text-size-adjust:none; /* 모바일 텍스트 크기 자동조절 방지 */
 }

 html, body{ margin:0; height:100%;}

label { cursor:pointer;}
a:link, a:visited { text-decoration:none;}
a:hover, a:focus, a:active { text-decoration:underline;}

body,a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big,center, canvas, caption, cite, code, command,datalist,del, details, dfn, div,
embed,fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li,meter,nav, menu,
object, output,p, pre, progress,q,s, samp, section, small,source,table, tbody, tfoot, thead, th, tr, td, video, tt, ul, var, button
{margin:0; padding:0; border:0; font-size:12px;  color:#323232; line-height:1em; font-family:"맑은 고딕","Malgun Gothic","돋움",sans-serif; }

div{width:auto}
dl,dt,dd {margin:0; padding:0; border:0;}
ol,ol li{margin:0; padding:0; border:0; font-size:13px; margin-left:8px; line-height:1em;}
ul{ list-style-type:none; overflow:hidden;}
table { border-collapse:collapse; border-spacing:0; table-layout:fixed;}
button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:0; vertical-align:middle; }
legend, caption ,hr { position:absolute; top:0; left:0; width:1px; height:1px; visibility:hidden; font-size:0; line-height:0; }
input { font:inherit; line-height:1em; font-size:12px; }
input, textarea, select, button, table {
 font:inherit;
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer, main { display:block;}
label { cursor:pointer; }
select { font:inherit; color:inherit; vertical-align:middle; font-size:12px; border:1px solid #bbbbbb; padding:3px 2px 3px 5px}
textarea { font:inherit; color:inherit;}
img {border:none;}
img, input, button, select, textarea { vertical-align:middle; }

textarea {resize:none;  font:inherit; color:inherit; border:1px solid #bbbbbb; padding:5px;}
input[type="text"],input[type="password"],input[type="tel"],input[type="file"],input[type="email"],input[type="addr"],input[type="name"]
{background:url(none); -webkit-border-radius:1px; -webkit-apprearance:none; background:#fff; padding:4px 5px; line-height:1em; height:26px;
 border:1px solid #bbbbbb; 	ime-mode:active; width:100%;} /*border-top:1px solid #959595;*/
input[type="checkbox"], table td input[type="checkbox"],input[type="radio"], table td input[type="radio"]  {margin:0; padding:0;  vertical-align:text-bottom; width:14px; height:14px;  margin-right:1px;  border:1px solid #bbbbbb;}

input[type="button"]{cursor:pointer; border:1px solid #545658; background-color:#646769; color:#fff; padding:4px 5px;   min-width:120px;
-webkit-appearance: none; -webkit-border-radius: 0; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em;}
input:focus{background-color:#fff; border:1px solid #0e69b0;}

/*focus*/
element:focus{}
input:focus{outline:none;}
button:focus{outline:none;}
button::-moz-focus-inner,input::-moz-focus-inner { border: 0; padding: 0;}

/*input 전화, 팩스, 주소 등  숫자입력*/

.phone, .no_string, .number, .date, .yymm, .jumin_no
{
	letter-spacing:0pt; line-height:1em; width:100%;
	ime-mode:disabled !important;
}
/*input 넓이*/
.iw100, .iw100 > input, .my_table input.iw100 {width:100px;}
.iw150, .iw150 > input, .my_table input.iw150 {width:150px;}
.iw200, .iw200 > input, .my_table input.iw200 {width:200px;}
.iw250, .iw250 > input, .my_table input.iw250 {width:250px;}
.iw300, .iw300 > input, .my_table input.iw300 {width:300px;}
.iw350, .iw350 > input, .my_table input.iw350 {width:350px;}
.iw400, .iw400 > input, .my_table input.iw400 {width:400px;}
.iw450, .iw450 > input, .my_table input.iw450 {width:450px;}
.iw500, .iw500 > input, .my_table input.iw500 {width:500px;}

/*padding*/
.pd0, .my_table tbody .pd0{padding:0 !important;}
.pd_t, .my_table tbody .pd_t, .my_table.pd_t  tbody  th, .my_table.pd_t  tbody  td{padding:7px;10px !important;}
.my_table.pd_t  tbody  th, .my_table.pd_t  tbody  td{padding:4px;10px !important; height:35px; !important;}


/* BUTTON Object---------------- */

button{cursor:pointer; padding:0; border:1px solid #838383; background-color:#f9f9f9; color:#000; padding:5px 5px 6px;  line-height:1em; width:90px; 
-webkit-appearance: none; -webkit-border-radius: 0; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em;  font-weight:600; font-size:13px; display:inline-block; text-shadow: rgba(0,0,0,0) 0 1px 0;
}

/* -------------------------------*/

.btn_pack > button{cursor:pointer; padding:0; border:1px solid #838383; background-color:#f9f9f9; color:#000; line-height:1em; width:90px; height:26px;
-webkit-appearance: none; -webkit-border-radius: 0; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em;  font-weight:600; font-size:13px; display:inline-block; text-shadow: rgba(0,0,0,0) 0 1px 0;}

button:hover,button:active, button:focus{color:#0e69b0; background:#f7f7f7;}
.btn_pack > button:hover, .btn_pack > button:active, .btn_pack > button:focus{color:#0e69b0; background:#f7f7f7;}
	
.btn_pack > button, button{background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #f9f9f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fafafa 0%,##f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefefe	0%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
/*.btn_pack{margin-right:4px}*/
/*.btn_pack{padding-left:4px}
.btn_pack *{left:4px;cursor:pointer;_cursor:hand}*/
.btn_pack.medium,
.btn_pack.medium *{height:24px;line-height:24px}
.btn_pack.large,
.btn_pack.large *{height:30px;line-height:30px}
.btn_pack.xlarge,
.btn_pack.xlarge *{height:36px;line-height:36px}
.btn_pack.small,
.btn_pack.small *{height:19px;line-height:19px}
.btn_pack.medium{background-position:left 0}
.btn_pack.large{background-position:left -30px}
.btn_pack.xlarge{background-position:left -65px}
.btn_pack.small{background-position:left -106px}
.btn_pack.medium *{padding:0 10px 0 6px;background-position:right top;font-size:12px}
.btn_pack.large *{padding:0 10px 0 6px;background-position:right -30px;font-size:16px}
.btn_pack.xlarge *{padding:0 10px 0 6px;background-position:right -65px;font-size:20px}
.btn_pack.small *{padding:0 6px 0 2px;background-position:right -106px;font-size:11px}

.btn_pack.m > button{padding:5px 5px 6px;} /*기본*/
.btn_pack.wa > button {width:auto;}

.btn_pack.find{background-position:left -204px}
.btn_pack.find *{height:22px;line-height:22px;}

.btn_pack.y,
.btn_pack.y{background-position:left -174px}
.btn_pack.y *{height:22px;line-height:22px;}
.btn_pack.y *{padding:0 10px 0 6px;background-position:right -174px;font-size:12px}

.btn_pack.strong *{font-weight:bold !important}
/*.btn_pack.icon *{padding-left:20px}*/
/*..btn_pack.small.icon *{padding-left:16px}*/
/*.btn_pack.m.icon *{padding-left:20px}*/
.btn_pack.medium .check{background-position:4px -150px}
.btn_pack.large .check{background-position:4px -146px}
.btn_pack.xlarge .check{background-position:5px -144px}
.btn_pack.small .check{background-position:3px -153px}
.btn_pack.medium .add{background-position:-16px -150px}
.btn_pack.large .add{background-position:-14px -146px}
.btn_pack.xlarge .add{background-position:-14px -144px}
.btn_pack.small .add{background-position:-18px -153px}
.btn_pack.medium .delete{background-position:-34px -150px}
.btn_pack.large .delete{background-position:-34px -146px}
.btn_pack.xlarge .delete{background-position:-34px -144px}
.btn_pack.small .delete{background-position:-37px -153px}
.btn_pack.medium .calendar{background-position:-56px -150px}
.btn_pack.large .calendar{background-position:-56px -146px}
.btn_pack.xlarge .calendar{background-position:-56px -144px}
.btn_pack.small .calendar{background-position:-59px -153px}
.btn_pack.medium .refresh{background-position:-76px -150px}
.btn_pack.large .refresh{background-position:-76px -146px}
.btn_pack.xlarge .refresh{background-position:-76px -144px}
.btn_pack.small .refresh{background-position:-79px -153px}
.btn_pack.medium .download{background-position:-96px -151px}
.btn_pack.large .download{background-position:-96px -147px}
.btn_pack.xlarge .download{background-position:-96px -145px}
.btn_pack.small .download{background-position:-99px -154px}

.btn_pack.m .check{background-position:4px -152px}
.btn_pack.m .add{background-position:-16px -152px}
.btn_pack.m .delete{background-position:-34px -152px}
.btn_pack.m .calendar{background-position:-56px -151px}
.btn_pack.m .refresh{background-position:-76px -152px}
.btn_pack.m .download{background-position:-96px -152px}
.btn_pack.m .excel{background-position:-119px -152px}
.btn_pack.m .pdf{background-position:-140px -152px}
.btn_pack.m .word{background-position:-161px -152px}
.btn_pack.m .hwp{background-position:-181px -152px}
.btn_pack.m .print{background-position:-201px -152px}
.btn_pack.m .list{background-position:-220px -152px}
.btn_pack.m .find{background-position:-241px -152px}
.btn_pack.m .save{background-position:-260px -152px}
.btn_pack.m .next{background-position:-280px -152px}
.btn_pack.m .before{background-position:-298px -152px}

.btn_pack.y .check{background-position:4px -152px}
.btn_pack.y .add{background-position:-16px -152px}
.btn_pack.y .delete{background-position:-34px -152px}
.btn_pack.y .calendar{background-position:-56px -152px}
.btn_pack.y .refresh{background-position:-76px -152px}
.btn_pack.y .download{background-position:-96px -152px}
.btn_pack.y .excel{background-position:-119px -152px}
.btn_pack.y .pdf{background-position:-140px -152px}
.btn_pack.y .word{background-position:-161px -152px}
.btn_pack.y .hwp{background-position:-181px -152px}
.btn_pack.y .print{background-position:-201px -152px}
.btn_pack.y .list{background-position:-220px -152px}
.btn_pack.y .find{background-position:-241px -152px}
.btn_pack.y .save{background-position:-260px -152px}
.btn_pack.y .next{background-position:-280px -152px}
.btn_pack.y .before{background-position:-298px -152px}


/* hidden */
caption, legend, .hidden, #contents .hidden  {position:absolute; overflow:hidden; top:0; visibility:hidden; width:1px; height:1px; } 

/* Layout 
===================================================================================================================================================================*/ 
body { -webkit-text-size-adjust:none; /*overflow:hidden;*/ }
#wrap{min-width:1440px; max-width:100%;}
#wrap:after{display:block;clear:both;content:'';}
#header{position:fixed; width:100%;  height:129px; padding:0; border-bottom:1px solid #0e69b0; z-index:2000; background:#fff;}
#header:after{display:block;clear:both;content:'';}
#container{ position:relative; top:129px;  min-width:1440px; max-width:100%; height:100%;} 
#container:after{display:block;clear:both;content:'';}
#container_box{position:relative; width:1440px; margin:0 auto; background-color:#fff;}
#container_box:after{display:block;clear:both;content:'';}
#aside{position:absolute; top:0; left:0; width:180px; height:100%;}
#content{float:right; display:block; width:1260px;  min-height:710px; max-height:100%; } 
#m_content{ float:left; width:1800px; height:840px;}/*main*/

#footer{position:relative; top:129px; bottom:0; height:120px; clear:both; min-width:1440px; max-width:100%; border-top:1px solid #bcbcbc; background-color:#fafafa;}
#footer #main_copy{ width:1440px; margin:0 auto; border:0; height:100px; text-align:center;} 
#footer #main_copy div{padding:5px; line-height:1.5em;}
#footer #main_copy div > span{ font-size:15px; font-weight:600;}

/* float 해제
================================== */
.clear{clear:both;}



/* 스크롤바
================================== */

#scroll_y {
 position:absolute;
 overflow-y: scroll;
 overflow-x: hidden;
 height:372px;
 width: 100%;
}

/* 버튼롤오버효과
================================== */
a.rollover img { display:inline; } 
a.rollover img.over { display:none; } 
a.rollover:hover img { display:none } 
a.rollover:hover img.over { display:inline; } 



 /*  float 해제
================================== */
.float_clear{clear: both; margin:0; padding:0; margin-top: -10px;}


/* 센터정렬
================================== 

body { 
  margin-left:10px;
  text-align: center; 
  min-width: 976px;
}

#wrapper { 
  width: 976px; 
  margin: 0 auto; 
  text-align: left; 
} 
*/
/*테이블 테두리
================================== */
.btn{
	width:59px; 
	height:21px; 
	border:0px; 
	font-weight:bold; 
	color:#ffffff; 
	background:url('../image/btn_normal.png') no-repeat; 
	cursor:pointer;
	padding-top:4px;
}

.title > div:first-child{
	height:39px;
	line-height:39px;
	border:0px;
	color:#1b57b3;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	padding-left:35px;
	background:url('../image/bg_icon_1.gif') no-repeat 10px 50%; 
	/*border-bottom:1px dotted #e5e5e5*/
}

.title_div{
	height:40px;
	line-height:40px;
	border:0px;
	color:#1b57b3;
	font-size:13px;
	font-size:14px;
	text-align:left;
	padding-left:25px;
	margin-bottom:20px;
	background:url('../image/bg_icon_1.gif') no-repeat left 50%; 
	/*border-bottom:1px dotted #e5e5e5;*/
}



.title_td{
	border:0;
	border-bottom:1px dotted #e5e5e5;
}

.subject{
	width:326px; height:31px;
	border:0px;
	color:#666666;
	font-size:13px;
	font-weight:bold;
	text-align:left; 
	padding-left:15px; padding-top:10px;
	background:url('../image/bg_icon_1_s.gif') no-repeat 8px 60%; 
}

.find{
	width:24px;
	height:100%;
	border:0px solid #cccccc;
	text-align:center;
	background-image:url('../image/btn_find.png');
	background-repeat:no-repeat; 
	background-position:50% 50%;
	cursor:pointer;
}

.button{
	height:31px; padding-top:10px;
	border:0px;
	color:#666666;
	font-size:13px;
	text-align:right;
	vertical-align:bottom;
}

.noborder{
	border:0px;
}



.terms{
	height:21px;
	ime-mode:active;
}

.page_list_1 {font-family: "돋움","굴림";font-size: 14px ;color: #FF7E00; font-weight : bold;}
.page_list_2 {font-family: "돋움","굴림";font-size: 16px ;color: red; font-weight : bold;}

.view_type1 {width:100%; border-top:3px solid #a9c7ec; border-bottom:1px solid #cccccc; border-right:0px; font:13px; margin-top:5px; min-width:1440px;} /*table-layout:fixed; */
.view_type1 caption {display:none;}
.view_type1 th {padding-left:20px; line-height:25px; height:25px; border-top:1px solid #cccccc; border-right:0px; background:#f4f5f6; color:#4979b9; font-weight:bold; text-align:left;}
.view_type1 td {padding-left:5px; padding-right:5px; line-height:25px; height:25px; border-top:1px solid #cccccc; border-right:0px; border-left:0px; text-align:left;}

.view_type2 {width:100%; border-top:0; border-bottom:1px solid #cccccc; border-right:0px; font:13px; margin-top:5px;} /*table-layout:fixed; */
.view_type2 caption {display:none;}
.view_type2 th {padding-left:20px; line-height:25px; height:25px; border-top:1px solid #cccccc; border-right:0px; background:#f4f5f6; color:#4979b9; font-weight:bold; text-align:left;}
.view_type2 td {padding-left:5px; padding-right:5px; line-height:25px; height:25px; border-top:1px solid #cccccc; border-right:0px; border-left:0px; text-align:left;}




/*로그인 정보 테이블
================================== */

table#login {width:150px; font-size:13px; background-color:#f3f3f3; color:#123348;}
#login td{border-top:1px solid #666666; border-bottom:none;}
#login td ul{ width:148px;  text-align:left; height:27px; line-height:27px;}
#login td li {width:148px; padding-left:9px; background: url(../image/login_btm_line1.gif) no-repeat left bottom;}

#login td li.btm_line_none{background-image:none; border-bottom:none;}
#login td li.top_line_color{border-top:1px solid #666666;}

#login td ul span{ color:#1b57b3;}

/*로그아웃 버튼 */
#login td.logout_btn {
height:38px; background: url(../image/login_btm_line2.gif) repeat-x left top; 
border-top:none; border-bottom:none;}
#login td.logout_btn a{ width:134px; height:26px; line-height:26px;  background: url(../image/logout_btn_bg.gif) no-repeat left 50%; display:block; color:#ff6000; font-weight:bold;}
#login td.logout_btn a:hover{ color:#ff4200;}


.btnNot{
	width:84px; 
	height:24px; 
	border:0px; 
	background:url('../image/btn_not.png') no-repeat; 
	font-weight:bold; 
	cursor:pointer;
}

.btnM2{
	width:83px; 
	height:22px; 
	border:0px; 
	background:url('../image/btn_not2.png') no-repeat; 
	font-weight:bold; 
	cursor:pointer;
}

.btnSmall1{
	width:48px; 
	height:24px; 
	border:0px; 
	background:url('../image/btn_small_1.png') no-repeat; 
	font-weight:bold; 
	cursor:pointer;
}

.btnSmall2{
	width:48px; 
	height:22px;
	line-height:20px;
	border:0px; 
	background:url('../image/btn_small_2.png') no-repeat; 
	font-weight:bold; 
	cursor:pointer;
}

.btnSmall3{
	width:22px; 
	height:22px;
	line-height:18px;
	border:0px; 
	background:url('../image/btn_small_3.png') no-repeat; 
	font-weight:bold; 
	cursor:pointer;
}

.btnExcel{
	width:61px; 
	height:22px; 
	line-height:18px;
	text-align:left;
	padding-left:22px;
	border:0px; 
	background:url('../image/btn_excel.png') no-repeat; 
	font-weight:bold; 
	cursor:pointer;
}

/* Calendar */
.ly_popup{position:absolute;z-index:100}
.ly_popup .shadow{width:100%;background:url(http://imgnews.naver.com/image/news/2007/new_section/shadow.png);_background:none;_filter:progid:dximagetransform.microsoft.alphaimageloader(src='http://imgnews.naver.com/image/news/2007/new_section/shadow.png', sizingmethod='scale')}
.ly_popup .shadow_side{position:relative;top:-3px;left:-3px}
.ly_popup .shadow2{width:100%;background:url(http://imgnews.naver.com/image/news/2007/new_section/shadow02.png);_background:none;_filter:progid:dximagetransform.microsoft.alphaimageloader(src='http://imgnews.naver.com/image/news/2007/new_section/shadow02.png', sizingmethod='scale')}
.ly_popup .shadow_side2{position:relative;top:-1px;left:-1px}
.ly_popup .border_type{padding:9px 0 5px;border:2px solid #777;background-color:#fff;text-align:center}
.ly_popup .close{position:absolute;top:9px;right:9px}
.cal_simple{margin:0 auto;padding:0;border:0}
.cal_simple caption{margin:0 auto;padding:0 0 8px 3px;color:#000;font-family:'돋움',dotum;font-size:11px;font-weight:bold;text-align:left}
.cal_simple caption strong{margin:0 5px;*margin:0}
.cal_simple tr{border:none}
.cal_simple th{width:21px;height:19px;border:none;color:#000;font-family:'돋움',dotum;font-size:11px;font-weight:normal}
.cal_simple td{width:21px;height:19px;border:none;font-family:tahoma;font-size:11px;text-align:center}
.cal_simple td a{color:#999}
.cal_simple td a em{color:#000;font-style:normal}
.cal_simple td a strong{color:#ed432a;font-weight:bold;text-decoration:underline}


/* Loading */
.ld_section{position:relative;top:17px;left:17px;z-index:1000;width:33px;height:34px;margin:-17px 0 0 -16px;background:url(http://static.naver.com/desk/ld_sq2.png) no-repeat 0 0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ld_sq2.png',sizingMethod='crop')}
.ld_section img{margin:8px}

/* Loading */
.ly_loading{width:200px}
.ly_loading p,.ly_loading img{margin:0;padding:0;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;font-size:13px;line-height:normal}
.ly_loading img{border:none}
.ly_loading .dsc_loading{position:relative;width:100%;padding-bottom:7px;font-weight:normal;letter-spacing:-1px}

.label{
	display:inline-block;
	overflow:visible;
	position:relative;
	margin:0;
	padding:0;
	border:0;
	font-size:13px;
	font-family:Tahoma, Sans-serif;
	color:#333;
	text-decoration:none !important;
	vertical-align:top;
	white-space:nowrap;
}

/* Layer Popup */
#pop_wrap{overflow:visible;position:absolute;filter:progid:DXImageTransform.Microsoft.Shadow(color='#999999',direction='135',strength='3');line-height:normal}
#pop_wrap img,#pop_wrap fieldset{border:none}
#pop_wrap legend{display:none}
#pop_content{position:relative;z-index:20;border:2px solid #777;background:#fff}
#pop_wrap .ly_header{margin:0 0 5px;padding:8px 0 7px 11px;background:#f4f4f4;color:#000;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;font-size:13px;font-weight:bold}
#pop_wrap .ly_body{margin:0 20px;padding:15px 0 4px;color:#444;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;font-size:12px}
#pop_wrap .ly_body dt{margin:0 0 9px}
#pop_wrap .ly_body dd{margin:0 0 6px}
#pop_wrap .ly_body .input_radio{_margin:-3px;vertical-align:middle}
#pop_wrap .close_layer{position:absolute;top:9px;right:9px}
#pop_wrap .shadow{_display:none;overflow:visible;position:absolute;z-index:10;width:100%;height:100%}
#pop_wrap .shadow2{top:3px;left:3px;background:url(http://static.naver.com/common/layer/shadow2.png)}
#pop_wrap .shadow3{top:2px;left:2px;background:url(http://static.naver.com/common/layer/shadow3.png)}
#pop_wrap .shadow4{top:1px;left:1px;background:url(http://static.naver.com/common/layer/shadow4.png)}
#pop_footer{margin:0 20px;padding:10px 0 15px;border-top:1px solid #e8e8e8;text-align:center}
#pop_footer input,#pop_footer a,#pop_footer img{vertical-align:top}
#pop_footer input,#pop_footer a{margin:0 1px 0 0}

/* Table */
.tbl3,.tbl3 th,.tbl3 td{border:0}
.tbl3{width:100%;border-bottom:2px solid #dcdcdc;font-family:Tahoma;font-size:11px;text-align:center}
.tbl3 caption{display:none}
.tbl3 th{height:26px; padding:0px 0 0px; border-top:2px solid #dcdcdc; background-color:#ededed; color:#666; font-family:'돋움',dotum; font-size:13px; font-weight:bold; text-align:center;}
.tbl3 td{padding:0px 0 0px; border-top:1px solid #e5e5e5; color:#4c4c4c; text-align:left; padding-left:3px; padding-right:3px;}

/*my_table_new*/
table.tb_t{border-top:2px solid #0e69b0;}
.my_table,.my_table th,.my_table td{border:0; word-break:break-all;}  
.my_table{width:100%; table-layout:fixed;}  
.my_table caption{display:none} 
.my_table thead th.head{background-color:#f5f7f9 ; font-size:13px; padding:6px; 0; text-align:center;  border-bottom:1px solid #0e69b0; letter-spacing:-1px;}
.my_table tfoot{background-color:#f5f7f9;font-weight:bold}  
.my_table th{padding:4px 10px; border-right:1px solid #d2d2d2; border-left:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;  background-color:#ebf2fb; color:#000; font-size:13px; letter-spacing:-1px;}  
.my_table td{padding:4px 10px; border:1px solid #d2d2d2; text-align:left;  line-height:1.5em;}  
.my_table tbody.txt_left{text-align:left;}
.my_table tbody.txt_center{text-align:center;}
.my_table th.txt_center, .my_table td.txt_center, .my_table td ul.txt_center{text-align:center;}
.my_table th.txt_left, .my_table td.txt_left, .my_table td ul.txt_left{text-align:left;}
.my_table td.txt_right{text-align:right; padding-right:15px;}
.my_table td.txt_right2{text-align:right;}
.my_table td ul li{ line-height:24px;}
.my_table td.bord_none{border-left:none; border-right:none;}
.my_table tr.btm_line td{border-bottom:1px solid #b2b2b2}
.my_table th.bord_none{border-bottom:1px solid #e5e5e5;}
.my_table td.al_top{vertical-align:top;}
.my_table th.td_end, .my_table td.td_end{border-bottom:1px solid #999;}
.my_table th.td_end2, .my_table td.td_end2{border-bottom:1px solid #fff;}
.my_table th.bd_left0, .my_table td.bd_left0{border-left:0;}
.my_table th.bd_right0, .my_table td.bd_right0{border-right:0;}
/*.my_table tr:nth-child(even){background:#fff;} /*tr 짝수행 배경색 #f5f5f5*/
/*.my_table tr:hover{background:#efff82; cursor:default;}  /*tr 마우스 오버 색상 */ 
.my_table th:first-child{border-left:none;}
.my_table th:last-child{border-right:none;}
.my_table td:first-child{border-left:none;}
.my_table td:last-child{border-right:none;}
.my_table tr.selected{background:#efff82;}
/*.my_table tr:last-child td{border-bottom:none;}*/
/*.my_table tr:last-child th{border-bottom:none;}*/


.my_table.head{
	height:26px;
	line-height:1.5em;
	font-size:13px;
	padding:0;
	text-align:center;
	border-top:none;
	border-left:none;
	border-right:1px solid #a6c0f3;
	border-bottom:1px solid #a6c0f3;
	background-color:#f7faff;
}

.my_table thead .center{
	padding:0;
	text-align:center;
}

.my_table tbody .center{
	text-align:center;
}



.my_table tbody .left{
	padding-left:5px;
	text-align:left; line-height:1.5em;
}
.my_table tbody .left13{
	padding-left:13px;
	text-align:left; line-height:1.5em;
}

.my_table tbody .right{
	padding-right:5px;
	text-align:right; line-height:1.5em;
}

.my_table *.bold{
	font-weight:bold; line-height:1.5em;
}

.my_table *.sum{
	font-weight:bold; line-height:1.5em;
	background-color:#efefef;
}

.my_table *.sum_sub{
	font-weight:bold; line-height:1.5em;
	background-color:#f6f6f6;
}


.my_table.my_border{
	width:100%;
	border-top:2px solid #0e69b0;
	border-bottom:1px solid #a6c0f3;
}

.my_table.my_green{
	width:100%;
	background-color:#ffffff;
	border:2px solid #13970f;
}

.my_table.my_green thead th{
	height:26px;
	line-height:1.5em;
	font-size:13px;
	border-top:none;
	border-left:none;
	border-right:1px solid #b5e9b3;
	border-bottom:1px solid #b5e9b3;
	background-color:#dbf8da;
	padding-left:5px;
}

.my_table.my_green tbody th{
	height:26px;
	line-height:1.5em;
	font-size:13px;
	border-top:none;
	border-left:none;
	border-right:1px solid #b5e9b3;
	border-bottom:1px solid #b5e9b3;
	background-color:#dbf8da;
	padding-left:5px;
}

.my_table.my_green tfoot th{
	height:26px;
	line-height:1.5em;
	font-size:13px;
	border-top:none;
	border-left:none;
	border-right:1px solid #b5e9b3;
	border-bottom:1px solid #b5e9b3;
	background-color:#dbf8da;
	padding-left:5px;
}

.my_table tbody .lr{
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}

.my_table tbody .top{
	padding-top:0;
	vertical-align:top;
}

.my_table tbody .other{
	border-top:none;
	border-left:1px solid #d4d4d4;
	border-right:none;
	border-bottom:none;
	background-color:#fbfbfb;
}

.my_table tfoot td{
	height:26px;
	font-size:13px;
	text-align:left;
	border-top:none;
	border-left:none;
	border-right:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
}

.my_table tfoot .center{
	padding:0;
	text-align:center;
}

.my_table tfoot .left{
	padding-left:5px;
	text-align:left;
}

.my_table tbody .right{
	padding-right:5px;
	text-align:right;
}

.my_table tfoot .lr{
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}

.my_table tfoot .top{
	padding-top:0;
	vertical-align:top;
}

.my_table tfoot .other{
	border-top:none;
	border-left:1px solid #d4d4d4;
	border-right:none;
	border-bottom:none;
	background-color:#fbfbfb;
}

.my_table *.last{
	border-right:none;
}

.my_table *.bottom{
	border-bottom:none;
}

.my_table *.padding_no{
	margin:0;
	padding:0;
}

.my_table *.help{
	background:url(../image/btn_quest.png);
	width:18px;
	height:18px;
	float:right;
	margin-right:5px;
}

.my_table *.help_left{
	float:left;
	width:auto;
}

.my_table *.help_center{
	float:center;
	width:auto;
}

.my_table *.no_border{
	border:none;
}



.my_table *.border_top{border-top:2px solid #0e69b0;}
.my_table *.border_left{border-left:2px solid #0e69b0;}
.my_table *.border_right{border-right:2px solid #0e69b0;}
.my_table *.border_bottom{border-bottom:2px solid #0e69b0;}
.my_table *.border_b{border-bottom:1px solid #a6c0f3;}
.border_b{border-bottom:1px solid #a6c0f3;}

.my_table *.border_b_gray{
	background-color:#efefef;
	border-bottom:2px solid #cccccc;
}

.my_table *.border_g{
	background-color:#efefef;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.my_table *.readonly{
	width:100%;
	height:100%;
	margin:0;
	padding-top:4px;
	padding-right:5px;
	border:none;
	background-color:#ffffff;
}


.my_month{
	width:35px;
	height:23px;
	line-height:23px;
	border:none;
	padding:0 1px;
	margin:0;
	text-align:center;
	font-weight:normal;
}

.my_month_g{
	background:url('../image/bg_calendar_g.gif') no-repeat;
}

.my_month_r{
	background:url('../image/bg_calendar_r.gif') no-repeat;
}

.my_month_y{
	background:url('../image/bg_calendar_y.gif') no-repeat;
}

.my_month_n{
	background:url('../image/bg_calendar_n.gif') no-repeat;
}

.my_month_1{
	background:url('../image/bg_calendar_1.gif') no-repeat;
}

.my_month_2{
	background:url('../image/bg_calendar_2.gif') no-repeat;
}

.my_week_sun{
	color:#ff0000;
}

.my_week_sat{
	color:#0000ff;
}

.my_week{
	color:#000000;
}

.my_border_blue{
	border:2px solid #0e69b0;  /*테이블 테두리*/
}

.my_bg_blue{
	background-color:#f7faff;
}

.my_border_gray{
	border:2px solid #cccccc;
}

.my_bg_gray{
	background-color:#efefef;
}

.my_bold{
	font-weight:bold;
}

.my_center{
	text-align:center;
	padding:0 5px 0 5px;
}

.my_left{
	text-align:left;
	padding:0 5px 0 5px;
}

.my_right{
	text-align:right;
	padding:0 5px 0 5px;
}

.text_cancel{
	text-decoration:line-through;
}

.my_box{
	width:23px;
	height:23px;
	border:none;
	margin:0;
	text-align:center;
	font-weight:normal;
}

.my_box_1{background:url('../image/box_1.gif') no-repeat;}
.my_box_2{background:url('../image/box_2.gif') no-repeat;}

.nowrap{
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.wraphide{
	overflow: hidden;
	text-overflow: hidden; 
	white-space: nowrap;
}

.wrapnon{
	overflow: hidden;
	text-overflow: normal; 
	white-space: normal;
}

.word_break{
	word-break:break-all;
}

.current_text{
	color:#0000ff;
	font-weight:bold;
}

.normal_text{
	color:#000000;
	font-weight:normal;
}

/*
 * 리포트 초기상담기록지 가계도 스타일
 */
.f_me{position:absolute;width:80px;height:60px;font-weight:bold;text-align:center;vertical-align:top;padding-top:15px;border:2px solid #fff600;background-color:#fffcd0;cursor:default;}
.f_m{position:absolute;width:80px;height:60px;font-weight:bold;text-align:center;vertical-align:top;padding-top:15px;border:2px solid #0000ff;background-color:#b8b8ff;cursor:default;}
.f_f{position:absolute;width:80px;height:60px;font-weight:bold;text-align:center;vertical-align:top;padding-top:15px;border:2px solid #ff0000;background-color:#ffbdbd;cursor:default;}
.f_p{position:absolute;width:80px;height:60px;font-weight:bold;text-align:center;vertical-align:top;padding-top:15px;border:2px solid #4cff06;background-color:#d2ffc1;cursor:default;}
.border_tr{border-top:1px solid #000;border-right:1px solid #000;}
.border_tl{border-top:1px solid #000;border-left:1px solid #000;}
.border_t{border-top:1px solid #000;}

/*
 * 배경색
 */
.m_over{
	background-color='#f2f5ff';\'
}

.m_out{
	background-color='#ffffff';\'
}

.bg_gray{
	background-color='#efefef';\'
}


/*********************************************************
	div 
*********************************************************/
.divTblTh {
	height:26px;
	line-height:26px;
	font-size:13px;
	border-top:none;
	border-left:none;
	border-right:1px solid #a6c0f3;
	border-bottom:1px solid #a6c0f3;
	background-color:#f7faff;
	padding-left:5px;
	padding-right:5px;
}

.divTblTd{
	height:26px;
	line-height:26px;
	font-size:13px;
	text-align:left;
	border-top:none;
	border-left:none;
	border-right:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
}


.divText{
	float:left;
	width:auto;
	margin-right:5px;
	font-weight:bold;
}


/*********************************************************
	bold
*********************************************************/
.bold{
	font-weight:bold;
}

/*********************************************************
	center
*********************************************************/
.center{
	padding:0;
	text-align:center;
}

/*********************************************************
 * 탭
 *********************************************************/
	.tab2{position:relative;height:29px;background:url(../image/tab/tab_menu.gif) repeat-x 0 100%;font-family:'돋움',dotum;font-size:12px}  
	.tab2 ul,.tab2 ul li{margin:0;padding:0}  
	.tab2 ul li{list-style:none}  
	.tab2 ul li,.tab2 ul li a{background:url(../image/tab/bg_tab2_off.gif) no-repeat}  
	.tab2 ul li{float:left;margin-right:-1px;line-height:26px}  
	.tab2 ul li a{display:inline-block;padding:2px 16px 1px;_padding:3px 16px 0;background-position: 100% 0;font-weight:bold;color:#666;text-decoration:none !important}  
	.tab2 ul li a:hover{color:#000}  
	.tab2 ul li.on,.tab2 ul li.on a{background-image:url(../image/tab/bg_tab2_on.gif)}  
	.tab2 ul li.on a{color:#3376b8}


/*
 ime-mode:active;   //한글모드
 ime-mode:inactive; //영문모드
 ime-mode:auto;     //한글/영문 입력가능
 ime-mode:disabled; //영문만 입력가능
 ime-mode:disabled; //한글 입력 방지
*/





